@import helper._

@main("Algorithm") {
<div class="jumbotron">
    <h1>Linear Regression</h1>
    <p class="lead">Linear regression is not used for classification problem. It is used to predict attribute value e.g. predict price of a house</p>
    <h1>Backpropagation & Logistic Regression </h1>
    <p>
        Backpropagation and logistic regression is used for classification problem.
        When a data has high number of features backpropagation has more accuracy than logistic regression.
    </p>
</div>

<div class="row-fluid marketing">
    <div class="span6 all-steps algo-pg">
        <h2>Steps</h2>
        <ol>
            <li><a class="steps" href='@routes.Application.index'>Click on an algorithm</a></li>
            <li>Train Data</li>
            <li>Result</li>
        </ol>
    </div>

    <div class="span6 algo-form algo-pg">
        <h2>Click on an algorithm</h2>
        <ul>
            <li><a href='@routes.Application.backpropagation'>Backpropagation Algorithm</a></li>
            <li><a href='@routes.Application.linearRegression'>Linear Regression Algorithm</a></li>
            <li><a href='@routes.Application.setMultiLogistic'>Logistic Regression Algorithm</a></li>
        </ul>
    </div>
</div>
}