@import helper._

@main("Backpropagation") {

<div class="jumbotron">
    <h1>Backpropagation</h1>
    <p class="lead">In this application backpropagation is used only to classify the data entity. If an entity of a data has large number of features backpropagation performs bettern than logistic regression.</p>
</div>

<div class="row-fluid marketing">
    <div class="span6 all-steps">
        <h2>Steps</h2>
        <ol>
            <a class="steps" href='@routes.Application.index'><li>Click on an algorithm to train the uploaded data </li></a>
            <li class="success">Train Data</li>
            <li>Result</li>
        </ol>
    </div>

    <div class="span6 algo-form">
        <h2>Train Data</h2>
        @form(action = routes.Application.outputBackpropagation, 'enctype -> "multipart/form-data") {
        <div class="form-group row">
            <label for="data" class="col-sm-2 form-control-label">Data</label>
            <div class="col-sm-10">
                <input data-toggle="tooltip" data-placement="top" title="Training data attributes should be seperated with ','" id="data" class="form-control-file"  type="file" name="dataFile" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="eta" class="col-sm-2 form-control-label">Eta</label>
            <div class="col-sm-10">
                <input data-toggle="tooltip" data-placement="top" title="Small eta like 0.1 gives high accuracy" id="eta" name="eta" class="form-control" required placeholder="e.g. 0.1">
            </div>
        </div>
        <div class="form-group row">
            <label for="iter" class="col-sm-2 form-control-label">Iterations</label>
            <div class="col-sm-10">
                <input data-toggle="tooltip" data-placement="top" title="Large no. of iterations gives high accuracy" id="iter" class="form-control" name="iter" required placeholder="e.g. 400" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="fea" class="col-sm-2 form-control-label">Features</label>
            <div class="col-sm-10">
                <input data-toggle="tooltip" data-placement="top" title="Large no. of iterations gives high accuracy" id="fea" class="form-control" name="featureArr" required placeholder="e.g. 5,10,10,3,7,3,8,10,2" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="col" class="col-sm-2 form-control-label  form-inline">Output Column</label>
            <div class="col-sm-10">
                <input data-toggle="tooltip" data-placement="top" title="Column no. representing the attribute that needs to be predicted" id="col"  class="form-control" name="outputCol" required placeholder="e.g. 10">
            </div>
        </div>
        <div class="form-group row">
            <label for="out" class="col-sm-2 form-control-label">Class</label>
            <div class="col-sm-10">
                <input data-toggle="tooltip" data-placement="top" title="Class value as in the uploaded dataset" id="out" type="text"  class="form-control"  name="classArr" placeholder="e.g. 2,4" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
        }
    </div>
</div>
}

