@import helper._

@main("Linear Regression Result") {
<div class="jumbotron">
    <h1>Linear Regression</h1>
    <p class="lead">Cost is the difference between actual and predicted values in the training data</p>
</div>
<hr>

<div class="row-fluid marketing">
    <div class="span6">
        <h2>Steps</h2>
        <ol>
            <a class="steps" href='@routes.Application.index'><li>Click any 1 algorithm to train the uploaded data </li></a>
            <li>Train Data</li>
            <li class="success">Result</li>
        </ol>
    </div>

    <div class="span6">
        <h2>Result</h2>
        <table style='width:60%'>
            <tr>
                <td class="lead">Cost</td><td class="lead">@{Application.cost}</td>
            </tr>
            <tr>
                <td class="lead">Predicted Value</td><td class="lead">@{Application.predict}</td>
            </tr>
        </table>
    </div>
</div>
<hr>
}