@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        </script>
    </head>
    <head>
    <meta charset="utf-8">
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
        <div class="container-narrow">
            <div class="masthead">
                <ul class="nav nav-pills pull-right">
                    <li><a href="@routes.Application.index">Home</a></li>
                    <li class="active"><a href="@routes.Application.algorithm">Get Started</a></li>
                </ul>
                <h3 class="muted"><a href="@routes.Application.index">Machine Learning</a></h3>
            </div>

            @content

            <div class="footer">
                <div class="social">
                    <ul>
                        <li><a href="chandani"><i class="fa fa-lg fa-facebook"></i></a></li>
                        <li><a href="chandani"><i class="fa fa-lg fa-twitter"></i></a></li>
                        <li><a href="chandani"><i class="fa fa-lg fa-github"></i></a></li>
                        <li><a href="chandani"><i class="fa fa-lg fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <span class="copyright">Copyright &copy; CHANDANI 2016</span>
            </div>
        </div>
    </body>
</html>
